// INDEX STYLES

.index {
    min-height: 100vh;
    background: url('../../assets/background.jpg') center no-repeat;
    background-size: cover;
    position: relative;
    .overlay {
        background: rgba(0,0,0,0.5);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }
    main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    h1 {
        font-size: 1.5rem;
        padding: 20px 0;
        color: white;
        text-align: left;
    }
}