<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blogdiggity</title>
    <link href="https://fonts.googleapis.com/css?family=Lalezar|Roboto:400,700" rel="stylesheet">
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header>
        <h1>Blogdiggity</h1>
        <section class="login">
            <h2>Log In to Your Account</h2>
            <form action="">
                <div>
                    <input type="text" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
                <div>
                    <input type="password" id="password" name="password" required>
                    <label for="password">Password</label>
                </div>
                <a href="#" class="forgotPassword">Forgot password?</a>
                <input type="submit" value="Log In">
            </form>
            <p>Need an account? <a href="#" class="signUp">Sign up</a></p>
        </section>
    </header>
</body>
</html>